
/*Header Section*/

.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 1;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  padding-bottom: 10px;
}

.header nav{
  display: block;
  padding-right: 40px;
}

.header a{
  color: black;
}

.header span{
  padding-left: 20px;
}
